page-forro {
a {
  width: 70%;
  display: block;
  height: auto;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 2.5%;

}
a img {
  width: 100%;
  height: auto;

}
.links {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 6%;
  left: 0;
}
}
